* {
	margin: 0%;
	padding: 0px;
	font-family: arial, sans-serif;
}
h3, h2 {
text-align: center;
}
#addcourse {
	width: 50%;
	margin: 2% auto;
}
#container {
	width: 50%;
	margin: 2% auto;
}
#buttons {
	width: 18%;
	margin: 2% auto;
}
.input {
	margin: 2% 0%; 
}
.labels {
	width: 20%;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
.label {
	width: 30%;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
.descriptions {
	width: 60%;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
}
input, textarea {
	width: 60%;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #888888;
}
#tableinfo {
	width: 70%;
	margin: 0% auto;
}
table {
	margin-top: 2%;
	border-collapse: collapse;
	width: 100%;
	font-size: .8rem;
}
td, th {
	text-align: left;
	border: 1px solid black;
	padding: 5px;
}
tr td:nth-child(2) {
	width: 50%;
}
a {
	display: inline-block;
	text-align: center;
	margin: 2% auto;
	padding: 5px;
}
button, .button {
	width: inherit;
	padding: 5px;
	background: blue;
	color: white;
	border-radius: 5px;
	border: none;
	box-shadow: 3px 3px 3px #888888;
}
input.button {
	margin: 0% auto;
	display: block;
}
.warning {
	margin-left: 20%;
	padding: 7px;
	color: red;
}