* {
	margin: 0%;
	padding: 0px;
}
h3, h2 {
text-align: center;
}
#addcourse {
	width: 50%;
	margin: 2% auto;
}
#container {
	width: 50%;
	margin: 2% auto;
}
#buttons {
	width: 18%;
	margin: 2% auto;
}
ul {
	width: 60%;
	color: blue;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}
.labels {
	width: 20%;
	text-align: right;
}
ul li {
	list-style: none;
	padding: 5px;
}
input, textarea {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
}
#tableinfo {
	width: 70%;
	margin: 0% auto;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td, th {
	text-align: left;
	border: 1px solid black;
	padding: 5px;
}
a {
	display: inline-block;
	text-align: center;
	margin: 2% auto;
	padding: 5px;
}
button, .button {
	width: inherit;
	padding: 5px;
	background: blue;
	color: white;
	border-radius: 5px;
	border: none;
	box-shadow: 3px 3px 3px #888888;
}